
.layout_sider {
  background:#001529;
  color: white;
  text-align: center;
  min-height: 100vh;
}

.app_header {
  width: 100%;
    // background-color: #fff !important;
    padding: 0
}

.layout_icon {
  font-size: 25px !important;
  color: whitesmoke;
}

.logo{
height: 32px;
background: rgba(255, 255, 255, 0.2);
margin: 16px;
}

.header_item {
    float: right;
    margin-top: 1.5% !important;
}

.layout_div {
    float: right;
    margin-right: 2%
}

// .header_avatar{
//     margin-top: 4%
// }

.header_button{
    margin-top: 10%
}