.layout_sider {
  background: #17202a;
  color: white;
  text-align: center;
  min-height: 100vh;
}

.app_header {
  width: 100%;
  padding: 0;
  background-color: #17202a !important;
}

.layout_icon {
  font-size: 25px !important;
  color: whitesmoke;
}

.logo {
  height: 32px;
  margin: 16px;
}

.header_item {
  float: right;
  margin-top: 1.5% !important;
}

.layout_div {
  float: right;
  margin-right: 2%;
}

.header_button {
  margin-top: 10%;
}
