@import '~antd/dist/antd.css';

.app_sider {
  background: black;
  color: white;
  text-align: center;
  height: 100vh;
}

.app_header {
  width: 100%;
  color: white;
}

.app_icon {
  font-size: 25px;
}

.logo{
height: 32px;
background: rgba(255, 255, 255, 0.2);
margin: 16px;
}